div {float: right;
}

button.HS.button {background-color: red;
border-radius: 5px;
cursor: pointer;
}
/*Welcome page*/

h1 {text-align: center;

}

h3 {text-align: center;

}

div#s-btn {background-color: black;
color: white;
cursor: pointer;
border-radius: 5px;
position: absolute;
left: 47%;
margin-top: 15px;

}


button{ background-color: black;
color: white;
border-radius: 5px;

}

body{background-color: grey;}

/*Questions page elements*/

h2 {text-align: center;

}

div#anwser {
  float: left;
  
}
ul{
  list-style: none;
}

div#nxt{
  float: right;
  
}

/*Results page elements*/

p{ font-size: 35px;
text-align: center;

}

div#initials {
  display: none ;
  position: absolute;
  left: 32%;
  
}
 /*Highscore elements*/

h4 {font-size: 40px;
text-align: center;

}

div#Leaderboard {

  position: absolute;
  left: 45%;
}

.hidden{
  display: none;
}
